.navbar{

height:80px;

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

box-shadow:0 5px 20px rgba(0,0,0,.05);

}


.search-box{

display:flex;

align-items:center;

gap:10px;

background:#f3f4f6;

padding:10px 20px;

border-radius:30px;

width:350px;

}


.search-box input{

border:none;

outline:none;

background:transparent;

width:100%;

}


.nav-right{

display:flex;

align-items:center;

gap:25px;

}


.notification,
.message{

position:relative;

font-size:22px;

color:#374151;

cursor:pointer;

}


.notification span{

position:absolute;

top:-8px;

right:-10px;

background:#ef4444;

color:white;

font-size:11px;

width:18px;

height:18px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

}


.profile{

display:flex;

align-items:center;

gap:12px;

}


.profile img{

width:45px;

height:45px;

border-radius:50%;

object-fit:cover;

}


.profile small{

display:block;

color:#6b7280;

}



@media(max-width:900px){

.search-box{

display:none;

}

.navbar{
    position:sticky;
    top:0;
    z-index:100;
}

}
